.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 250px);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.options {
    display: flex;
    align-items: stretch;
    gap: 5px;
}