.student {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin: 0 90px;
    font-size: 1.25rem;
    &:nth-child(even) {
        background-color: #525252;
    }
}